<% if !@name then @name = 'Cat' end %>

<h1> My name is <%= @name %> </h1>

<form action= '/named-cat' method='post'>
  <input type= 'text', name = 'name'>
  <input type= 'submit', value= 'PRESS HERE'>
</form>

<div style= 'border: 4px blue dotted'>
  <img src='https://i.imgur.com/jFaSxym.png'>
</div>